/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
  background: url('https://d3m9l0v76dty0.cloudfront.net/system/photos/2385556/large/58c5b1c1e8dc6de3ca274c74d063656b.jpg');

}

